$standard-background-color: #f8f8f9;
$standard-border:1px solid #dcdee298;
$standard-primary:#2d8cf0;
$standard-title:#17233d;
$standard-context:#515a6e;
$standard-disabled:#c5c8ce;
$standard-info:#2db7f5;
$standard-success:#19be6b;
$standard-warning:#ff9900;
$standard-error:#ed4014;

@mixin switch-animation {

  .v-enter,
  .v-leave-to {
    opacity: 0;
    transform: translateY(100px);
  }

  .v-enter-active,
  .v-leave-active {
    transition: all 0.4s ease;
  }
}

@mixin switch-list-animation {

  .v-enter,
  .v-leave-to {
    opacity: 0;
    transform: translateX(20px);
  }

  .v-enter-active,
  .v-leave-active {
    transition: all 0.4s ease;
  }
}